@using Proyecto.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/css/Login.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <br />
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            </div>

            <section id="loginForm">
                <!-- Login Form -->
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "fadeIn second", @id = "login", @name = "login", @placeholder = "Correo electrónico" })
                    </div>
                    <div>
                        @Html.PasswordFor(m => m.Password, new { @class = "fadeIn third", @id = "password", @name = "password", @placeholder = "Contraseña" })
                    </div>
                    if (ViewData["Message"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["Message"]
                        </div>
                    }
                    <div>
                        <input type="submit" class="fadeIn fourth" value="Iniciar sesión">
                    </div>
                }

                <!-- Register-->
            <div id="formFooter">
                <a class="underlineHover" href="/Account/Register">Registrarse</a>
            </div>
            </section>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
}